	body{
		background-image: url("../images/midnight-rampage.png");
		background-attachment:fixed;
		}/*---body to hold an image in background of #page---*/
	
	@font-face {
  		font-family: 'Audiowide';
  		font-style: normal;
  		font-weight: 400;
  		src: local('Audiowide'), local('Audiowide-Regular'), 
  		url (http://fonts.gstatic.com/s/audiowide/v4/8XtYtNK
  		EyyZh481XVWfVOrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
		}/*---At font for all headings and links---*/
	
	
	h1, h2, h3, a {
		font-family: 'Audiowide', cursive;
		font-weight: normal;
		text-align: center; 
		}/*---shorthand for headings and links---*/
   
	h1 {
    	font-size: 2.50em;
		}/*---Font size for h1---*/
   
	h2 {
    	text-transform: uppercase;
		}/*---Make all heading level 2 uppercase---*/

	h3 {font-size: 1.50em;
		}/*---Font size for heading level 3---*/
		
	#page {
		width: 88%;
		height: auto;
		margin: 1.1% auto 1.1% auto;
		padding: 1.5%;
		border: 4px double #000;
		background-color: #FFFFEE;
		border-radius: 10px;
		box-shadow: 2px 2px #FFFF33;
		background-image: url("../images/knit.png");
		background-repeat: repeat-x;
		background-position: top center;
		}/*---Main layout for site page with background images---*/		

   #top {
		color: rgb(62,96,111);
		width: 26%;
		margin: 1.1% auto 1.1% auto;
		border: 5px double #000;
		padding: 5px;
		text-shadow: 2px 1px #FFFF33;
		border-radius: 10px;
		box-shadow: 2px 2px #FFFF33;
		background: url("../images/light-tile.gif")
		no-repeat top center;
		}/*---Logo type heading with text and border box---*/
		
	#column1of2 {
		text-align: left;
		width: 29%;
		padding: 1.8%;
		float: left;
		margin-left: 3.6%;
		margin-right: 10%;
		}/*---floating column for column1of2---*/
	
	#column1of2 p{
		width: 161%;
		}/*---paragraph width for column1of2---*/
	
	#column2of2 {
		text-align: right;
		width: 29%;
		padding: 1.8%;
		float: left;
		margin-left: 10%;
		}/*---floating column for column2of2---*/	
	
	#column2of2 p{
		width: 125%;
		}/*---paragraph width for column2of2---*/
		
	.clear {
		clear: left;
		}
		/*---clear left for column2of2---*/

	#gallery {
		color: #3E606F;
		width: 26.2%;
		margin: 1.1% auto 1.1% auto;
		padding: 2.1%;
		}/*---place holder for figure---*/
		
	section.skate {
		float: left;
		width: 620px;
		border-right: 1px dotted #eeeeee;
		display: block;
		}/*---Defines top left section---*/
		
	article {
		clear: both;
		overflow: auto;
		width: 100%;
		}/*---Defines articles in top left section---*/
		
	.skate figure {
		float: left;
		width: 300px;
		height: 220px;
		padding: 5px;
		margin: 20px;
		border: 2px dotted #000;
		}/*---Defines place holders for images in top left section---*/
		
	.skate figcaption {
		font-size: 100%;
		text-align: center;
		}/*---Defines font in captions of top left section---*/
		
	aside {
		width: 30%;
		float: left;
		padding: 10px 0px 0px 20px;
		}/*---Defines side bar---*/
		
	aside section a {
		display: block;
		padding: 10px;
		}/*---Defines first section in sidebar---*/
		
	table {
		border-spacing: 0px;
		}/*---Placeholder for headings & definitions inside table---*/
			
	th, td {
		padding: 10% 10% 10% 0.8%;
		font-size: 100%;
		margin: 0px;
		text-align: center;
		border-top: 2px solid #000;
		border-right: 1px solid #A6A6A6;
		border-left: 1px solid #000;
		border-bottom: 1px solid #A6A6A6;
		}/*---Defines table cells & headings & definitions---*/
			
	tr.headers th {
		color: #000;
		background-color: #efefef;
		border-bottom: 2px solid #547ca0;
		border-right: 1px solid #749abe;
		border-top: 1px solid #90b4d6;
		text-align: center;
		text-shadow: 1px 1px 1px #d3d3d3;
		letter-spacing: 0.15em;
		}/*---Defines table row headers and column headings---*/
		
	td {
		text-shadow: 1px 1px 1px #b0e2ff;
		}/*---Defines table definitions text shadows---*/
	
	tr.even {
		background-color: #efefef;
		}/*---Defines second and forth table row background color---*/
			
	tr:hover {
		background-color: #c3e6e5;
		}/*---Defines table row mouse hover background color---*/
	
	fieldset {
		width: 540px;
		margin-top: 20px;
		border: 1px solid #d6d6d6;
		background-color: #f2ecec;
		line-height: 1.6em;
		}/*--Defines form field---*/
				
	legend {
		font-size: 100%;
		font-style: normal;
		color: #0000bb;
		}/*--Defines legend text---*/
				
	input[type="text"] {
		width: 120px;
		border: 1px solid #FFFF33;
		padding: 2px;
		}/*--Defines input for name and email field---*/
				
	input[type="text"]:focus, input[type="text"]:hover {
		background-color: #ff3;
		border: 1px solid #000;
		}/*--Defines mouse hover over the name and email text & field---*/
				
	input[type="submit"] {
		border: 1px solid #0000BB;
		background-color: #000;
		color: #ffffff;
		border-radius: 5px;
		padding: 5px;
		margin-top: 10px;
		}/*--Defines submit button---*/
				
	input[type="submit"]:hover {
		border: 1px solid #006633;
		background-color: #efefef;
		color: #000;
		cursor: crosshair;
		}/*--Defines mouse hover over submit button---*/
				
	.title {
		float: left;
		width: 160px;
		clear: left;
		}/*--Defines name & email text---*/
				
	.srank {
		float: left;
		width: 100px;
		clear: left;
		}/*--Defines text question---*/
				
	.submit {
		width: 310px;
		text-align: right;
		}/*--Defines width and text align of submit button---*/
		
	nav ul {
		width: 45%;
		padding: 1.6%;
		margin: 2.5% 19% 2.5% 26%;
		list-style-type: none;
		border-top: 2px dotted #000;
		border-bottom: 2px dotted #000;
		}/*---Navigation---*/
		
	nav ul li{
		display: inline;
		}/*---display for navigation list items---*/
	
	ol {
		width: 19%;
		padding: 15px;
		margin: 1.6% 37% 1.6% 37%;
		list-style-type: circle;
		border-top: 2px dotted #000;
		border-bottom: 2px dotted #000;
		display: block;
		}/*---list items of tricks---*/

	p { 
		color: #0000BB;
		opacity: 0.8;
		width: 53%;
		text-align: center;
		margin: 2% auto 2% auto;
		line-height: 25px;
		}/*---Layout of all paragraphs---*/

	strong, em { 
		color:#006600;
		opacity: 0.8;
		}/*---Defining strong and em inside paragraphs---*/

	q { 
		color:#DD0000;
		}/*---Defining quotes inside paragraphs---*/
		
	figure {
		color: #000;
		text-align:center;
		border: 2px dotted #000;
		margin: 1.1% auto 1.1% auto;
		width: 53%;
		border-radius: 15px;
		background: linear-gradient(#fff, #0cf, #fff);
		}/*---place holder for images---*/

	a:link {
		font-family: Courier, monospace;
		margin: 2% 2% 2% 4%;
		color: #006600;
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid #DD0000;
		text-align: center;
		display: inline-block;
		}/*---Defines links---*/

	a:visited {color: #000000;
		}/*---Defines visited links---*/
	
	a:hover {
		color: #FFF;
		background-color: #336699;
		text-decoration: underline;
		}/*---Defines links when user hovers over---*/
	
	a:active {
		color: #000000;
		}/*---Defines pressed down links---*/
		
	footer {
		font-family: cursive;
		font-size: 100%;
		text-align: center;
		padding: 6px 0px 0px 20px;
		background: linear-gradient(#fff, #0cf, #fff);
		}/*---Footer for bottom of page---*/