	body{
		background-image: url("../images/midnight-rampage.png");
		background-attachment:fixed;
		}/*---body to hold an image in background of #page---*/
	
	@font-face {
  		font-family: 'Audiowide';
  		font-style: normal;
  		font-weight: 400;
  		src: local('Audiowide'), local('Audiowide-Regular'), 
  		url (http://fonts.gstatic.com/s/audiowide/v4/8XtYtNK
  		EyyZh481XVWfVOrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
		}/*---At font for all headings and links---*/
	
	
	h1, h2, h3, a {
		font-family: 'Audiowide', cursive;
		font-weight: normal;
		text-align: center; 
		}/*---shorthand for headings and links---*/
   
	h1 {
    	font-size: 2.50em;
		}/*---Font size for h1---*/
   
	h2 {
    	text-transform: uppercase;
		}/*---Make all heading level 2 uppercase---*/

	h3 {font-size: 1.50em;
		}/*---Font size for heading level 3---*/
		
	#page {
		width: 87%;
		height: auto;
		margin: 1.1% auto 1.1% auto;
		padding: 1.5%;
		border: 4px double #000;
		background-color: #FFFFEE;
		border-radius: 10px;
		box-shadow: 2px 2px #FFFF33;
		background-image: url("../images/knit.png");
		background-repeat: repeat-x;
		background-position: top center;
		}/*---Main layout for site page with background images---*/		

   #top {
		color: rgb(62,96,111);
		width: 26%;
		margin: 1.1% auto 1.1% auto;
		border: 5px double #000;
		padding: 5px;
		text-shadow: 2px 1px #FFFF33;
		border-radius: 10px;
		box-shadow: 2px 2px #FFFF33;
		background: url("../images/light-tile.gif")
		no-repeat top center;
		}/*---Logo type heading with text and border box---*/
		
	#column1of2 {
		text-align: left;
		width: 29%;
		padding: 1.8%;
		float: left;
		margin-left: 3.6%;
		margin-right: 10%;
		}/*---floating column for column1of2---*/
	
	#column1of2 p{
		width: 161%;
		}/*---paragraph width for column1of2---*/
	
	#column2of2 {
		text-align: right;
		width: 29%;
		padding: 1.8%;
		float: left;
		margin-left: 10%;
		}/*---floating column for column2of2---*/	
	
	#column2of2 p{
		width: 125%;
		}/*---paragraph width for column2of2---*/
		
	.class {
		clear: left;
		}
		/*---clear left for column2of2---*/

	#gallery {
		color: #3E606F;
		width: 26.2%;
		margin: 1.1% auto 1.1% auto;
		padding: 2.1%;
		}/*---place holder for figure---*/
		
	figure {
		color: #000;
		text-align:center;
		border: 2px dotted #000;
		margin: 1.1% auto 1.1% auto;
		width: 53%;
		border-radius: 15px;
		background: linear-gradient(#fff, #0cf, #fff);
		}/*---place holder for images---*/
		
	ul {
		width: 55%;
		padding: 1.6%;
		margin: 2.5% 19% 2.5% 20%;
		list-style-type: none;
		border-top: 2px dotted #000;
		border-bottom: 2px dotted #000;
		}/*---Navigation---*/
		
	ul li{
		display: inline;
		}/*---display for navigation list items---*/
	
	ol {
		width: 19%;
		padding: 15px;
		margin: 1.6% 37% 1.6% 37%;
		list-style-type: circle;
		border-top: 2px dotted #000;
		border-bottom: 2px dotted #000;
		display: block;
		}/*---list items of tricks---*/

	p { 
		color: #0000BB;
		opacity: 0.8;
		width: 53%;
		text-align: center;
		margin: 2% auto 2% auto;
		line-height: 25px;
		}/*---Layout of all paragraphs---*/

	strong, em { 
		color:#006600;
		opacity: 0.8;
		}/*---Defining strong and em inside paragraphs---*/

	q { 
		color:#DD0000;
		}/*---Defining quotes inside paragraphs---*/

	a:link {
		font-family: Courier, monospace;
		margin: 2% 2% 2% 4%;
		color: #006600;
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid #DD0000;
		text-align: center;
		display: inline-block;
		}/*---Defines links---*/

	a:visited {color: #000000;
		}/*---Defines visited links---*/
	
	a:hover {
		color: #FFF;
		background-color: #336699;
		text-decoration: underline;
		}/*---Defines links when user hovers over---*/
	
	a:active {
		color: #000000;
		}/*---Defines pressed down links---*/